body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 70px;
    margin-top: 50px auto 0 auto;
    font-family: 'Architects Daughter', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

hr {
    color: #EAF6F6;
    border: dotted;
    border-width: 8px 0 0 0;
    width: 10%;
    margin: 80px auto;
}


p {
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px;
    color: white;
}

.intro {
    width: 40%;
    margin: 20px auto;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 400px;
}

.bottom-cloud {
    position: absolute;
    bottom: 270px;
    left: 300px;
}

.profile {
    width: 50%;
    margin: 20px auto;
}

.profile-img {
    width: 25%;
    margin: 20px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.web-icon {
    margin-right: 30px;
    width: 25%;
    float: left;
}

.python-icon {
    margin-left: 30px;
    width: 25%;
    float: right;
}

.contact-me {
    margin: 20px 0;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.footer-link {
    color: #11999E;
    margin: 25px;
}

.copyright {
    color: #EAF6F6;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}